:root {
  --primary-color: #845ef1;
  --link-color: #999;
  --light-color: #f7f7f7;
  --dark-color: #333;
  --border-color: #eeebf5;
  --input-color: #555;
  --error-color: #dc143c;
  --light-purple: rgba(107, 73, 201, 0.109);
  --hover-purple: rgba(107, 73, 201, 0.582);
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  min-width: 230px;
  max-width: 400px;
}

.input-wrapper {
  border: 1px solid var(--border-color);
  min-width: 300px;
  max-width: 400px;
  direction: ltr;
}

.submit-btn {
  min-width: 300px;
  max-width: 400px;
  border: 1px solid var(--primary-color);
  transition: all ease-in-out 0.3s;
}

.submit-btn:hover {
  -webkit-box-shadow: inset 0px 0px 12px 4px #7554D6; 
  box-shadow: inset 0px 0px 12px 4px #7554D6;
}